body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }

  .board > div {
    background-color: #ddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
  }

  .players {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }